<!DOCTYPE html>
<html layout:decorate="~{layout}">

<div layout:fragment="content">

    <h1>Welcome to the file language detector, we currently support the following languages:</h1>

    <div>
        <h4 th:text="${languages}"/>
    </div>

    <div th:if="${error}">
        <h2 th:text="${error}" class="notfoundclass"/>
    </div>

    <div th:if="${message}">
        <h2 th:text="${message}" th:classappend="${wasDetected} ? foundclass : notfoundclass"/>
    </div>

    <form method="POST" enctype="multipart/form-data" action="/">

        <div class="form-group">
            <label for="fileUpload">Select a file to be analysed.</label>
            <input type="file" class="form-control-file" name="file" id="fileUpload">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>


</div>

</html>